section.cover .cover-main {
    z-index: 100;
}

.medium-zoom-image {
    background-color: #fff;
}

footer {
    margin: 15px auto;
}

hr {
    margin: 0 0;
}

.sidebar-nav li>a {
    font-size: 14px;
}

.markdown-section a {
    text-decoration: none;
}

/*.sidebar {
    width: 25rem;
}*/
/* @media screen and (min-width: 786px) {
    .sidebar {
        width: 20rem;
        transform: translateX(20rem);
    }
} */

#gitalk-container {
    width: 90%;
}

body>main>aside>h1>div>a:nth-child(2),
body>main>aside>h1>div>a:nth-child(3) {
    color: var(--sidebar-nav-link-color);
}

.markdown-section img {
    background-color: rgb(255 255 255);
    border-radius: 3px;
}

/* #docsify-darklight-theme{
  right: 0px;
} */
.markdown-section {
    padding: 30px 0px 0px;
}

section.cover.has-mask .mask {
    background-color: #fff;
    opacity: .1 !important;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.markdown-section blockquote {
    padding: 0px 0px 0px 20px;
}

.markdown-section {
    max-width: 90%;
}

section.cover .cover-main>p:last-child a .iconfont {
    font-size: 1em;
}

.sidebar>h1>a {
    /*font-family: 'Lobster', cursive;*/
    font-size: 1.6em;
}

body>main>aside>h1>a>img {
    border-radius: 50%;
}

.center,
h1 {
    width: 100%;
    text-align: center;
}

.index a {
    font-size: 14px;
}

.search {
    padding: 6px 6px 6px 40px;
}

/*图片放大特效*/
.container {
    width: 600px;
    margin: 0 auto;
}

.container img {
    width: 45%;
    margin-right: 5%;
    margin-bottom: 30px;
    float: left;
}

/*弹出层样式*/
.sidebar {
    z-index: 0;
}

@media (min-width: 1024px) {
    .sidebar-toggle-button {
        display: none;
        /* 在大屏幕设备上隐藏 */
    }
}

#popup {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

#popup .bg {
    background-color: rgb(255 255 255);
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 786px) {
    #popup .bg {
        background-color: #000000;
        filter: Alpha(opacity=50);
        position: static;
    }

    #popup .bg img {
        position: absolute;
    }
}

#popup img {
    max-width: 100%;
    max-height: 100%;
    /*以下三行实现垂直居中*/
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*以上三行实现垂直居中*/
}


/*loading*/
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #000000;
    font-size: 10px;
    margin-top: -100px;
    position: absolute;
    left: 50%;
    top: 50%;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.mermaid {
    width: 100%;
    text-align: center;
}

/*设置文本高亮*/
p:has(span.mark) {
    background-color: yellow;
    line-height: 3;
    margin-bottom: 0px;
    margin-top: 0px;
}

p:has(> img) {
    text-align: center;
}

aside h1 {
    font-size: 20px;
}

aside h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0px 0px;
}

aside h3 {
    font-size: 16px;
    font-weight: 300;
    margin: 0px 0px;
}